<h1><%= @workout.name %></h1>

<h5 id="add_template">Add Template</h5>

<div id="category-selector" class="row" style="display: none">
  <%= render 'executions/form' %>
</div>

<%= link_to "Back", workouts_path %>
