<h1><%= @workout.name %></h1>

<h5 id="add_template">Add Template</h5>

<div id="category-selector" class="row" style="display: none">
  <% form_with model: @execution do |f| %>
    <%= f.text_field :new_category, "Category name" ,class: "col-3 mx-3", id: "new-category" %>
    <%= f.submit "Create Category", class: "btn btn-secondary col-3 " %>
  <% end %>
</div>

<%= link_to "Back", workouts_path %>
