<% provide(:title, 'All users') %>
<h1>All trainers</h1>

<%= will_paginate @user,:class => 'digg_pagination my-4' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @user,:class => 'digg_pagination my-4' %>
