
document.addEventListener("turbolinks:load", function() {
  $("#add-element").click(function(){
      $("#add-element").hide();
      $("#add-element-form").show();
  });

  // $('.js-example-basic-multiple').select2({
  //   placeholder:'Filter results',
  //   width: 'element',
  //   theme: "bootstrap",
  // });
  $('#query').select2({
    placeholder:'Filter by elements',
    width: '100%',
    templateResult: function (data) {
      // We only really care if there is an element to pull classes from
      if (!data.element) {
        return data.text;
      }

      var $element = $(data.element);

      var $wrapper = $('<span></span>');
      $wrapper.addClass($element[0].className);

      $wrapper.text(data.text);

      return $wrapper;
    }

  });


});
