document.addEventListener("turbolinks:load", function() {
  $(function(){
    // changing check boxes
    var checkboxs = $('input[type=checkbox].check-change');

    checkboxs.each(function(){
      $(this).wrap('<div class="customCheckbox"></div>');
      $(this).before('<span>&#10004;</span>');
    });

    checkboxs.change(function(){
      if($(this).is(':checked')){
        $(this).parent().addClass('customCheckboxChecked');
      } else {
        $(this).parent().removeClass('customCheckboxChecked');
      }
    });


  });


  // Change font size for series elements
  $(function(){
    $('.resizer').textfill({
      maxFontPixels: 17
    });
  });

  // $(function(){
  //   $('div#element-choices').click(function(){
  //     var element_choices, serie
  //     , series, series_card
  //     element_choices = $('div#element-choices');
  //     series_active = element_choices.children('label').hasClass('active');
  //     series = element_choices.children('label').attr('id');
  //     series_card = $("div[id='"+series+" Card']");
  //     if (series_active != true) {
  //       series_card.hide()
  //     }else{
  //       series_card.show()
  //     };
  //
  //   });
  // });


});
