document.addEventListener("turbolinks:load", function() {
  $(function(){
    // changing check boxes
    var checkboxs = $('input[type=checkbox].check-change');

    checkboxs.each(function(){
      $(this).wrap('<div class="customCheckbox"></div>');
      $(this).before('<span>&#10004;</span>');
    });

    checkboxs.change(function(){
      if($(this).is(':checked')){
        $(this).parent().addClass('customCheckboxChecked');
      } else {
        $(this).parent().removeClass('customCheckboxChecked');
      }
    });


  });


  // Change font size for series elements
  $(function(){
    $('.resizer').textfill({
      maxFontPixels: 17
    });
  });

  $(function(){
    $('div.element-picker').click(function(){
      var element_picker, series_active
      , series, series_card
      element_picker = $(this);
      series = element_picker.children('label').attr('id');
      series_active = element_picker.children('label').hasClass('active');
      series_card = $("div[id='"+series+" Card']");
      // debugger
      if (series_active != true) {
        series_card.show()
      }else{
        series_card.hide()
      };

    });
  });


});
