$(document).on("turbolinks:before-cache", function() {
  $('.js-example-basic-multiple').select2('destroy');
});

document.addEventListener("turbolinks:load", function() {

  // Change font size for series elements
  $(function(){
    $('.resizer').textfill({
      maxFontPixels: 17
    });
  });

  $(function(){
    element_picker = $('div.element-picker');
    element_picker.each( function() {
      category_active = $(this).children('label').hasClass('active');
      category = $(this).children('label').attr('id');
      category_card = $("div[id='"+category+" Card']");
      if (category_active == true) {
        category_card.show()
      }
    });
  });

  $(function(){
    $('div.element-picker').click(function(){
      var element_picker, series_active
      , series, series_card
      element_picker = $(this);
      series = element_picker.children('label').attr('id');
      series_active = element_picker.children('label').hasClass('active');
      series_card = $("div[id='"+series+" Card']");
      // debugger
      if (series_active != true) {
        series_card.show()
      }else{
        series_card.hide()
      };

    });
  });

  $('.js-example-basic-multiple').select2({
    placeholder: 'Search Elements',
    width: '100%',
    // theme: "bootstrap",
  });
  // $('#query').select2({
  //   placeholder:'Filter by elements',
  //   width: '100%',
  //   templateResult: function (data) {
  //     // We only really care if there is an element to pull classes from
  //     if (!data.element) {
  //       return data.text;
  //     }
  //
  //     var $element = $(data.element);
  //
  //     var $wrapper = $('<span></span>');
  //     $wrapper.addClass($element[0].className);
  //
  //     $wrapper.text(data.text);
  //
  //     return $wrapper;
  //   }
  //
  // });


});
