$primary: #636D73;
$secondary: #DDFCAD;
$navbar-light-color: #DDFCAD;
$success: #95A472;
$card-cap-bg: #95A472;
$navbar-light-hover-color: #ffffff;
$card-border-width: 3px;
$table-dark-bg: #95A472;
$table-dark-border-color: #95A472;
@import "pagination.css";
@import "pagination.sass";
@import "bootstrap";


// Mixins, variables, etc.

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  -box-sizing       : border-box;
}

// Forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.btn-success {
  color: white;
}

.fun-thing {
  background-color: red;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// General
h1 {
  color: #636D73;
}


// Header
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #DDFCAD;
  text-transform: uppercase;
  // letter-spacing: -1px;
  // padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.spacer {
  padding-right: 175px;
}

.nav-button {
  width: 100px;
}

//Links

.edit-link {
  color: #009AFF;
}

//Miscelaneous
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
    // $gray-lighter
  }
}
