$primary: #636D73;
$secondary: #DDFCAD;
$navbar-light-color: #DDFCAD;
$success: #95A472;
$card-cap-bg: #95A472;
$navbar-light-hover-color: #ffffff;
$card-border-width: 3px;
$table-dark-bg: #95A472;
$table-dark-border-color: #95A472;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Lucida Sans, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
@import "pagination.css";
@import "pagination.sass";
@import "bootstrap";
@import "font-awesome";


// Mixins, variables, etc.

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  -box-sizing       : border-box;
}

//CHECKBOXES

// Check change
input[type=checkbox].check-change
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  padding: 10px;
}

.customCheckbox {
  float: center;
  position: relative;
  width: 40px;
  height: 40px;
  background: #FFFCF9;
  border-radius: 2px;
  border: 2px solid #d2d2d2;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

.customCheckbox.customCheckboxChecked {
  background: #FFFCF9;
  border: 1px solid #95A472;
}

.customCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.customCheckbox span {
  display: none;
  text-align: center;
  line-height: 40px;
  font-size: 90%;
  color: #222;
}

.customCheckbox.customCheckboxChecked span {
  display: block;
}

.customCheckbox.customCheckboxDisabled {
  background: #9AABB1;
}

.element-checkboxes{
  border: 2.5px solid;
  // white-space:normal !important;
  //   width: 160px;
    // max-height: 50px;
}

.series-checkboxes {
  border: 4px solid;
  // display: flex;
  // align-items: center;
  white-space:normal !important;
    width: 160px;
    height: 50px;

    line-height: 110%;
    display: table-cell;
    vertical-align: middle;
}

// ELEMENT CATEGORIES
.element_categories {
  border: solid gray .3rem;
  text-align: center;
  font-size: 2rem;
  color: #636D73;
}

.category-card {
  padding: 0px;
}

.card-header {
  padding: 0px;
  text-align: center;
}

h4 {
  padding: 0px;
}


// FORMS

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.btn-success {
  color: white;
}

.fun-thing {
  background-color: red;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.jquery-add {
  font-size: 1.5em;
  color: #009AFF;
}

// General
h1 {
  color: #636D73;
}



// Header
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #DDFCAD;
  text-transform: uppercase;
  // letter-spacing: -1px;
  // padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nav-button {
  width: 100px;
}

//Links

.edit-link {
  color: #009AFF;
  cursor: pointer;
}

.delete-link {
  color: #C35151;
}

//Miscelaneous
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

// TABLES

.table .thead-dark.primary-color th {
  background-color: #636D73;
  border: solid 2px;
  border-color: white;
  // border-collapse:separate;
  // border-top-left-radius:30px;
  // border-top-right-radius: 30px;
}

.all-edges-rounded {
  border-radius: 30px;
}

table.all-edges-rounded {
    border-collapse:separate;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;
}

.card-header.top-edges-rounded {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.top-edges-rounded {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.table.top-edges-rounded {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

table.table-card-style-green {
  text-align: center;
  border: 2px solid #95A472;
}

table.table-card-style-primary {
  text-align: center;
  border: 5px solid #636D73;
}

//TEXT CHECKBOX
input[type="text"].numbers {
    line-height: 35px;
    width: 40px;
    font-size:24px;
    text-align: center;
    color: #95A472;
    background: #FFFCF9;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
    // $gray-lighter
  }
}
