$primary: #636D73;
$secondary: #DDFCAD;
$navbar-light-color: #DDFCAD;
$success: #95A472;
$card-cap-bg: #95A472;
$navbar-light-hover-color: #ffffff;
$card-border-width: 3px;
$table-dark-bg: #95A472;
$table-dark-border-color: #95A472;
@import "pagination.css";
@import "pagination.sass";
@import "bootstrap";


// Mixins, variables, etc.

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  -box-sizing       : border-box;
}

//CHECKBOXES
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  padding: 10px;
}

.customCheckbox {
  float: center;
  position: relative;
  width: 40px;
  height: 40px;
  background: #FFFCF9;
  border-radius: 2px;
  border: 2px solid #d2d2d2;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align: center;
}

.customCheckbox.customCheckboxChecked {
  background: #FFFCF9;
  border: 1px solid #95A472;
}

.customCheckbox input {
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.customCheckbox span {
  display: none;
  text-align: center;
  line-height: 40px;
  font-size: 90%;
  color: #222;
}

.customCheckbox.customCheckboxChecked span {
  display: block;
}

.customCheckbox.customCheckboxDisabled {
  background: #9AABB1;
}

table#card {
  text-align: center;
  border: 2px solid #95A472;
}


// Forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.btn-success {
  color: white;
}

.fun-thing {
  background-color: red;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// General
h1 {
  color: #636D73;
}



// Header
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #DDFCAD;
  text-transform: uppercase;
  // letter-spacing: -1px;
  // padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.spacer {
  padding-right: 175px;
}

.nav-button {
  width: 100px;
}

//Links

.edit-link {
  color: #009AFF;
}

//Miscelaneous
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

//TEXT CHECKBOX
input[type="text"].numbers {
    line-height: 35px;
    width: 40px;
    font-size:24px;
    text-align: center;
    color: #95A472;
    background: #FFFCF9;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
    // $gray-lighter
  }
}
