<h1 id="updated_title">New Exercise</h1>

<!-- #TODO:110 Write tests for new page -->

<div class="container">
  <%= render 'form', exercise: @new_exercise %>
  <%= link_to 'Back', exercises_path %>
</div>
